---
layout: page
title: zachphillips
---

<div class="posts">
  {% for post in paginator.posts %}
    <div class="post">
		  {% if post.link %}<h1><a href="{{ post.url }}">{{ post.title }}</a></h1><a href="{{ post.link }}"><p class="small"><em>{{ post.link }}→</em></p></a>{% else %}<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>{% endif %}
			{{ post.content }}
			<h4>Posted {{ post.date | date: "%A, %B %d, %Y" }}</h4>
		</div>
  {% endfor %}
</div>

<div class="pagination main">
	<ul>
  {% if paginator.next_page %}
    <li class="prev"><a href="/page{{paginator.next_page}}">&larr; Older</a></li>
  {% else %}
    <li class="prev disabled"><a>Older</a></li>
  {% endif %}
  <li><a href="/">Home</a></li>
  {% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		  <li><a href="/">Newer &rarr;</a></li>
		{% else %}
    	<li><a href="/page{{paginator.previous_page}}">Newer &rarr;</a></li>
		{% endif %}
  {% else %}
    <li>Newer</li>
  {% endif %}
	</ul>
</div>
