<div class="post">
  {% if page.link %}<h1><a href="{{ page.link }}">{{ page.title }}</a></h1><a href="{{ page.link }}"><p class="small"><em>{{ page.link }}→</em></p></a>{% else %}<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>{% endif %}
    {{ content }}
		<h4><em>posted {{ page.date | date: "%A, %B %d, %Y" }}</em></h4>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="/">Home</a></li>
      {% if page.next %}
        <li><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
</div>
